span[data-v-92a30d86] {
    white-space: pre
}

.link[data-astro-cid-zk53pndg] {
    position: relative
}

.container[data-astro-cid-zk53pndg] {
    border: var(--c-out) calc(var(--px-spacing) * 1) solid;
    width: 100%;
    height: 100%;
    background-color: var(--c-sur);
    color: var(--c-on-sur)
}

body.pretentious-style .container[data-astro-cid-zk53pndg]::selection {
    background-color: var(--c-inv-sur);
    color: var(--c-on-inv-sur)
}

.container[data-astro-cid-zk53pndg] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--px-spacing) * 8) calc(var(--px-spacing) * 14);
    position: relative;
    overflow: hidden
}

.title[data-astro-cid-zk53pndg],
.arrow[data-astro-cid-zk53pndg] {
    font-family: var(--font-brand);
    font-weight: 700;
    font-size: calc(var(--rem-spacing) * 8);
    line-height: 1em
}

.arrow[data-astro-cid-zk53pndg] {
    visibility: hidden;
    display: none
}

@container section (width > 500px) {
    .link[data-astro-cid-zk53pndg][href] .arrow[data-astro-cid-zk53pndg] {
        display: unset
    }
}

.arrow-span[data-astro-cid-zk53pndg] {
    background-color: var(--c-inv-sur);
    color: var(--c-on-inv-sur)
}

body.pretentious-style .arrow-span[data-astro-cid-zk53pndg]::selection {
    background-color: var(--c-sur);
    color: var(--c-on-sur)
}

.arrow-span[data-astro-cid-zk53pndg] {
    padding: 0 4px
}

.cover[data-astro-cid-zk53pndg] {
    position: absolute;
    top: 200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-on-sur);
    transform: skewY(-5deg)
}

.link[data-astro-cid-zk53pndg] {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding .2s
}

.link[data-astro-cid-zk53pndg]:hover .arrow[data-astro-cid-zk53pndg] {
    visibility: visible
}

.link[data-astro-cid-zk53pndg]:hover .arrow-span[data-astro-cid-zk53pndg] {
    animation: appear 0s calc(var(--count) * .05s) 1;
    animation-fill-mode: backwards
}

@media (max-width: 550px) {
    .container[data-astro-cid-zk53pndg] {
        padding: calc(var(--px-spacing) * 4) calc(var(--px-spacing) * 4);
        border: none
    }
    .container[data-astro-cid-zk53pndg]:hover {
        text-decoration: underline
    }
    .title[data-astro-cid-zk53pndg],
    .arrow[data-astro-cid-zk53pndg] {
        font-size: calc(var(--rem-spacing) * 6)
    }
}

@keyframes flash {
    0% {
        background-color: var(--c-inv-sur)
    }
}

.link[data-astro-cid-zk53pndg].soon .description[data-astro-cid-zk53pndg] {
    visibility: hidden
}

.link[data-astro-cid-zk53pndg].soon .coming-soon-text[data-astro-cid-zk53pndg] {
    position: absolute;
    left: -2px;
    right: -2px;
    top: 55%;
    transform: translateY(0) skewY(-2deg);
    background-color: var(--c-inv-sur);
    color: var(--c-on-inv-sur);
    padding: calc(var(--px-spacing) * 2) calc(var(--px-spacing) * 8);
    font-weight: 700;
    display: flex;
    align-self: center;
    justify-content: center
}

.container[data-astro-cid-c5skafry] {
    border: var(--c-out) calc(var(--px-spacing) * 1) solid;
    width: 100%;
    height: 100%;
    background-color: var(--c-sur);
    color: var(--c-on-sur)
}

body.pretentious-style .container[data-astro-cid-c5skafry]::selection {
    background-color: var(--c-inv-sur);
    color: var(--c-on-inv-sur)
}

.container[data-astro-cid-c5skafry] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--px-spacing) * 6) calc(var(--px-spacing) * 12);
    position: relative;
    overflow: hidden;
    transition: color .2s var(--ease-smooth), transform 1s var(--ease-smooth)
}

.title[data-astro-cid-c5skafry],
.arrow[data-astro-cid-c5skafry] {
    font-family: var(--font-brand);
    font-weight: 700;
    font-size: calc(var(--rem-spacing) * 5);
    line-height: 1em
}

@keyframes blink {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes appear {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.arrow[data-astro-cid-c5skafry] {
    visibility: hidden
}

.cover[data-astro-cid-c5skafry] {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-inv-sur);
    transition: top .5s var(--ease-smooth)
}

.text[data-astro-cid-c5skafry] {
    position: relative
}

.link[data-astro-cid-c5skafry] {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding .2s;
    flex: 1 1 100%
}

.link[data-astro-cid-c5skafry]:hover .arrow[data-astro-cid-c5skafry] {
    visibility: visible
}

.link[data-astro-cid-c5skafry]:hover .cover[data-astro-cid-c5skafry] {
    top: 0
}

.link[data-astro-cid-c5skafry]:hover .container[data-astro-cid-c5skafry] {
    background-color: var(--c-inv-sur);
    color: var(--c-on-inv-sur)
}

body.pretentious-style .link[data-astro-cid-c5skafry]:hover .container[data-astro-cid-c5skafry]::selection {
    background-color: var(--c-sur);
    color: var(--c-on-sur)
}

.link[data-astro-cid-c5skafry]:hover .container[data-astro-cid-c5skafry] {
    background-color: var(--c-sur);
    transform: translateY(-4px);
    transition: color .2s var(--ease-smooth), transform .5s var(--ease-smooth)
}

.link[data-astro-cid-c5skafry].tiny {
    width: auto;
    flex-basis: content
}

@media (prefers-reduced-motion: reduce) {
    .cover[data-astro-cid-c5skafry] {
        top: 0;
        opacity: 0;
        transition: opacity .2s
    }
    .link[data-astro-cid-c5skafry]:hover .cover[data-astro-cid-c5skafry] {
        opacity: 1
    }
    .link[data-astro-cid-c5skafry]:hover .container[data-astro-cid-c5skafry] {
        transform: none
    }
}

@keyframes glow {
    0% {
        top: -200%
    }
}

.teran[data-astro-cid-j7pv25f6] {
    display: inline-block;
    width: var(--icon-width);
    height: var(--icon-height);
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
    background-color: var(--c-on-sur);
    image-rendering: pixelated
}

.content-section[data-astro-cid-j7pv25f6],
footer[data-astro-cid-j7pv25f6] {
    padding: 0 var(--layout-x-padding);
    max-width: var(--content-width);
    margin: auto
}

footer[data-astro-cid-j7pv25f6] {
    padding: calc(var(--rem-spacing) * 16) var(--layout-x-padding);
    text-align: center;
    color: var(--c-on-sur-var)
}

.hero[data-astro-cid-j7pv25f6] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin: calc(var(--px-spacing) * 10) auto;
    margin-top: calc(var(--rem-spacing) * 6)
}

.hero[data-astro-cid-j7pv25f6] .title[data-astro-cid-j7pv25f6] {
    font-size: calc(var(--rem-spacing) * 12);
    font-family: var(--font-brand);
    font-weight: 700;
    bottom: 0;
    line-height: 1em
}

.notification-banner[data-astro-cid-j7pv25f6] {
    margin: calc(var(--px-spacing) * 10) 0;
    display: flex;
    justify-content: center
}

.notification-banner[data-astro-cid-j7pv25f6] .inner[data-astro-cid-j7pv25f6] {
    background-color: var(--c-inv-sur);
    color: var(--c-on-inv-sur)
}

body.pretentious-style .notification-banner[data-astro-cid-j7pv25f6] .inner[data-astro-cid-j7pv25f6]::selection {
    background-color: var(--c-sur);
    color: var(--c-on-sur)
}

.notification-banner[data-astro-cid-j7pv25f6] .inner[data-astro-cid-j7pv25f6] {
    width: 100%;
    padding: calc(var(--px-spacing) * 1) var(--layout-x-padding);
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    gap: calc(var(--px-spacing) * 2)
}

.notification-banner[data-astro-cid-j7pv25f6] .inner[data-astro-cid-j7pv25f6]:hover,
.notification-banner[data-astro-cid-j7pv25f6] .inner[data-astro-cid-j7pv25f6]:focus-visible {
    text-decoration: underline
}

.notification-banner[data-astro-cid-j7pv25f6] .inner[data-astro-cid-j7pv25f6]:active {
    opacity: .75
}

.notification-banner[data-astro-cid-j7pv25f6] .title[data-astro-cid-j7pv25f6] {
    font-weight: 500
}

.notification-banner[data-astro-cid-j7pv25f6] .cta-icon[data-astro-cid-j7pv25f6] {
    display: inline-block
}

.wip-notice[data-astro-cid-j7pv25f6] {
    margin: calc(var(--px-spacing) * 10) auto
}

.wip-notice[data-astro-cid-j7pv25f6] h2[data-astro-cid-j7pv25f6] {
    font-weight: 700
}

.door[data-astro-cid-j7pv25f6] {
    display: block;
    background-color: var(--c-inv-sur);
    color: var(--c-on-inv-sur)
}

body.pretentious-style .door[data-astro-cid-j7pv25f6]::selection {
    background-color: var(--c-sur);
    color: var(--c-on-sur)
}

.door[data-astro-cid-j7pv25f6] {
    height: calc(var(--px-spacing) * 100);
    width: calc(var(--px-spacing) * 100);
    align-self: center
}

.page-links[data-astro-cid-j7pv25f6] {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.social-links[data-astro-cid-j7pv25f6].social-links-small {
    display: none
}

.outlinks[data-astro-cid-j7pv25f6],
.social-links[data-astro-cid-j7pv25f6],
.page-links[data-astro-cid-j7pv25f6] {
    gap: calc(var(--px-spacing) * 6);
    container: section/inline-size
}

.social-links[data-astro-cid-j7pv25f6] {
    display: flex
}

.outlinks[data-astro-cid-j7pv25f6] {
    display: flex;
    flex-direction: column
}

@media (max-width: 920px) {
    .social-links[data-astro-cid-j7pv25f6].social-links-small {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .social-links[data-astro-cid-j7pv25f6].social-links-large {
        display: none
    }
    .page-links[data-astro-cid-j7pv25f6] {
        display: flex;
        flex-direction: column
    }
}

@media (max-width: 570px) {
    .social-links[data-astro-cid-j7pv25f6].social-links.social-links-small {
        display: flex;
        flex-direction: column;
        gap: calc(var(--px-spacing) * 4)
    }
}